<html>

    <head>
        <title> 登录页面</title>
        <link rel="stylesheet" type="text/css" href="../css/login.css">
        <!-- <script src="./js/node_modules/axios/lib/axios.js"></script> -->
        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- <script src="browser.js"> </script> -->
        <!-- <script src="vue_use.js"> </script> -->
        <script src="../js_src/login.js"> </script>
    </head>

    <body background="../material/background.jpg">
        <!-- 使用普通javascript方式 -->
        <!-- <img src="./material/background.jpg"></img> -->
        <div id="loginpage">
            <!-- <text>sddsd<text> -->
            <input v-model="username">用户名</input>
            <input v-model="pw" type="password">密码</input>
            <button v-on:click="submit_user_passward"> 提交</button>
        </div>
      
    </body>

</html>