button {
    background-color: lightblue;
  }
  
#upload {
    background-color: yellow;
    text-align:center;
    height: 400px;

  }
body{

  background-repeat:no-repeat;
  background-size:100% 100%;

}
#AI_algorithm {
  background-color: red;
  text-align:center;
  height: 200px;

}