button {
    background-color: lightblue;
  }
  
div {
    background-color: pink;
    text-align:center;
    height: 200px;

  }
a{
  background-color: red;
  text-align:center;

}
.f1{
  background-color: red;
  text-align:center;
  height: 200px;

}