button {
    background-color: lightblue;

  }
.deleteUser{
  background-color: pink;
  float: right
}
.modifyUser{
  background-color: pink;
  float: right
}
#loginpage {
    background-color: yellow;
    text-align:center;
    height: 200px;

  }
a{
  background-color: red;
  text-align:center;

}
.f1{
  background-color: red;
  text-align:center;
  height: 30px;

}
.listdetail-li{
  background-color: red;
  text-align:center;
  height: 30px;
}